/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #f6fbf3; /* N-98 */
    margin-top: 0;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    max-width: 660px;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    position: absolute;
    text-align: center;
    z-index: 1;
    pointer-events: none; /* let's user click nation on map, if under header */
}

/* Container for Mapbox map */
.box-for-map {
    width: 90%;
    height: 80vh;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.map-container {
    width: 100vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
    overflow-y: hidden;
}

.map-caption {
    width: 80%;
    margin: 1em 5%;
    padding: 0 5%;
    background: #e5eae2; /* N-92 */
    border-radius: 12px;
    flex: initial;
}

nav {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  /* main axis */
    align-items: flex-start; /* cross axis */
}


/* Class for figure */
.nav-item {
    width: 15%;
    margin: 0;
    padding: 0 0 0.25em; /* longhand 0 0 0.25em 0 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: center; /* cross axis */
}

.nav-item:hover {
    background: #eaefe8; /* N-94 */
    cursor: pointer;

}

.nav-item-sq {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.selected {
    border-bottom: 2px solid #414942; /* NV-30 */
}

section {
    width: 100%;
    margin-top: 1em;
    padding: 1em 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    inset: -1px calc((100vw - 100%) / -2) 0 calc((100vw - 100%) / -2);
    border-top: 1px solid #414942; /* NV-30 */
    z-index: -1;
}

.title {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
}

.title-heading {
    margin: 0;
    padding: 0 1em;
    background: #2c6a45; /* P-40 */
    border-radius: 12px;
    flex: initial;
}

table {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 500;
    color: #181d19; /* N-10 */
    text-align: left;
}

td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #181d19; /* N-10 */
    border-bottom: 1px solid #c0c9c0; /* NV-80 */
}

/* Span classes for items in tables */
.nation-name {
    width: 45%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nation-rate {
    width: 15%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nation-region {
    width: 40%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.paginate-container {
    width: 60%;
    margin: 0;
    padding: 0 20%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; /* main axis */
    align-items: flex-start; /* cross axis */
}

form {
    width: 80%;
    margin: 1em 5%;
    padding: 1em 5%;
    background: #e5eae2; /* N-92 */
    border-radius: 12px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #42474e;
}

input[type="text"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #42474e;
}

@media (min-width: 300px) and (max-width: 399px) {
    input[type="text"] {
        width: 100%;
        margin: 0.75em 0 1em; /* longhand 0.75em 0 1em 0 */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    input[type="text"] {
        width: 90%;
        margin: 0.75em 10% 1em 0;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    input[type="text"] {
        width: 80%;
        margin: 0.75em 20% 1em 0;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    input[type="text"] {
        width: 70%;
        margin: 0.75em 30% 1em 0;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    input[type="text"] {
        width: 60%;
        margin: 0.75em 40% 1em 0;
    }
}

@media (min-width: 800px) {
    input[type="text"] {
        width: 40%;
        margin: 0 2.5%;
    }
}

input::placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #717971; /* NV-50 */
}

button {
    padding: 0;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 500;
}

@media (min-width: 300px) and (max-width: 799px) {
    button {
        width: 5em;
        margin-right: 5%;
    }
}

@media (min-width: 800px) {
    button {
        width: 5em;
        margin-right: 2.5%;
    }

    button:last-of-type {
        margin-right: 0;
    }
}

button:hover {
    cursor: pointer;
}

.btn-search {
    background: #06677f; /* S-40 */
    border: none;
    color: #fff; /* P-100 */
}

.btn-search:hover {
    background: #004e60; /* S-30 */
}

.btn-clear {
    background: none;
    border: 1px solid #c0c9c0; /* NV-80 */
    color: #414942; /* NV-30 */
}

.btn-clear:hover {
    background: #c0c9c0; /* NV-80 */
}

.search-results {
    width: 100%;
    margin-top: 0.5em;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
}

dl {
    width: 100%;
    margin: 0;
    padding: 0;
}

dd {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #181d19; /* N-10 */
    margin-left: 0;
}

/* Font styles and their media queries */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #fff; /* S-100 */
    padding: 0 0.5em;
    background: #06677f; /* S-40 */
    display: inline-flex;
    filter: drop-shadow(2px 2px 3px #06677f);  /* S-40 */
    border-radius:6px
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #fff; /* N-100 */
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #181d19; /* N-10 */
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #181d19; /* N-10 */
}

.paginate {
    line-height: 1.2;
    margin-bottom: 0;
}

.hyperlink {
    color: #06677f; /* S-40 */
}

.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: #ba1a1a; /* E-40 */
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2, figcaption {
        font-size: 0.8125em; /* 13px */
    }

    p, dd, th, td, label, input[type="text"], input::placeholder, button {
        font-size: 0.875em; /* 14px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2, figcaption {
        font-size: 0.875em; /* 14px */ 
    }

    p, dd, th, td, label, input[type="text"], input::placeholder, button {
        font-size: 0.9375em; /* 15px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2, figcaption {
        font-size: 0.9375em; /* 15px */ 
    }

    p, dd, th, td, label, input[type="text"], input::placeholder, button {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2, figcaption {
        font-size: 1em; /* 16px */
    }

    p, dd, th, td, label, input[type="text"], input::placeholder, button {
        font-size: 1.0625em; /* 17px */
    }
}