/* @link https://utopia.fyi/type/calculator?c=320,14,1.125,1280,18,1.125,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --fs-1: clamp(0.7778rem, 0.7037rem + 0.3704vw, 1rem);
    --fs0: clamp(0.875rem, 0.7917rem + 0.4167vw, 1.125rem);
    --fs1: clamp(0.9844rem, 0.8906rem + 0.4688vw, 1.2656rem);
    --fs2: clamp(1.1074rem, 1.002rem + 0.5273vw, 1.4238rem);
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #f6fbf3; /* N-98 */
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* cross axis */
}

header {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    text-align: center;
    flex: initial;
}

.intro-box {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  /* main axis */
    align-items: flex-start; /* cross axis */
}

.intro-box-content {
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Container for Mapbox map */
.box-for-map {
    width: 95%;
    margin-top: 1em;
    padding: 1em 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.box-for-map::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2) 0;
    border-top: 2px solid #414942; /* NV-30 */
    z-index: -1;
}

.map-caption {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
}

.map-caption-title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    text-align: center;
}

.map-caption-text {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    text-align: center;
}

nav {
    width: 95%;
    margin: 0;
    padding: 0 2.5% 1em;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  /* main axis */
    align-items: flex-start; /* cross axis */
}

/* Class for figure */
figure.nav-item {
    padding: 0.25em 2.5%;
    border: 1px solid #e5eae2; /* N-92 */
    border-radius: 6px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: center; /* cross axis */
}

@media (min-width: 300px) and (max-width: 499px) {
    figure.nav-item {
        margin: 0 0 0.25em; 
    }
}

@media (min-width: 500px) {
    figure.nav-item {
        margin: 0; 
    }
}

.nav-item:hover {
    display: inline-flex;
    background: #e5eae2; /* N-92 */
    cursor: pointer;
}

.nav-item-sq {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.selected {
    /* border-bottom: 1px solid #414942;  NV-30 */
    background: #e5eae2; /* N-92 */
}

.map-container {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    flex: initial;
}

section {
    width: 95%;
    margin-top: 1em;
    padding: 1em 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2) 0;
    border-top: 2px solid #414942; /* NV-30 */
    z-index: -1;
}

.title {
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
    flex: initial;
}

.text {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
}

th {
    font-family: Roboto, serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.8;
    color: #181d19; /* N-10 */
    text-align: left;
}

td {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.8;
    color: #181d19; /* N-10 */
    border-bottom: 1px solid #c0c9c0; /* NV-80 */
}

/* Span classes for items in tables */
.nation-name {
    width: 45%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nation-rate {
    width: 15%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nation-region {
    width: 40%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.paginate-container {
    width: 60%;
    margin: 0;
    padding: 0 20%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; /* main axis */
    align-items: flex-start; /* cross axis */
}

form {
    width: 80%;
    margin: 1em 5%;
    padding: 1em 5%;
    background: #e5eae2; /* N-92 */
    border-radius: 12px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: center /* cross axis */
}

label {
    font-family: Bevan, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #42474e;
}

input[type="text"] {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.5;
    color: #42474e;
}

@media (min-width: 300px) and (max-width: 399px) {
    input[type="text"] {
        width: 100%;
        margin: 0.75em 0 1em; /* longhand 0.75em 0 1em 0 */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    input[type="text"] {
        width: 90%;
        margin: 0.75em 10% 1em 0;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    input[type="text"] {
        width: 80%;
        margin: 0.75em 20% 1em 0;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    input[type="text"] {
        width: 70%;
        margin: 0.75em 30% 1em 0;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    input[type="text"] {
        width: 60%;
        margin: 0.75em 40% 1em 0;
    }
}

@media (min-width: 800px) {
    input[type="text"] {
        width: 40%;
        margin: 0 2.5%;
    }
}

input::placeholder {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.5;
    color: #717971; /* NV-50 */
}

button.nations {
    padding: 0;
    border-radius: 8px;
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.5;
}

@media (min-width: 300px) and (max-width: 799px) {
    button.nations {
        width: 5em;
        margin-right: 5%;
    }
}

@media (min-width: 800px) {
    button.nations {
        width: 5em;
        margin-right: 2.5%;
    }

    button.nations:last-of-type {
        margin-right: 0;
    }
}

button:hover {
    cursor: pointer;
}

.btn-search {
    background: #06677f; /* S-40 */
    border: none;
    color: #fff; /* P-100 */
}

.btn-search:hover {
    background: #004e60; /* S-30 */
}

.btn-clear {
    background: none;
    border: 1px solid #c0c9c0; /* NV-80 */
    color: #414942; /* NV-30 */
}

.btn-clear:hover {
    background: #c0c9c0; /* NV-80 */
}

.search-results {
    width: 100%;
    margin-top: 0.5em;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
}

dl {
    width: 100%;
    margin: 0;
    padding: 0;
}

dd {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.8;
    color: #181d19; /* N-10 */
    margin-left: 0;
}

/* Font styles and their media queries */
h1 {
    font-family: Bevan, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: var(--fs2);
    color: #181d19; /* N-10 */
}

h2 {
    font-family: Bevan, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: var(--fs1);
    color: #181d19; /* N-10 */
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

figcaption {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-1);
    line-height: 1.6;
    color: #181d19; /* N-10 */
}

p {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.8;
    color: #181d19; /* N-10 */
}

.larger-txt {
    font-size: var(--fs1);
    font-weight: 500;
}

.larger-bottom {
    margin-bottom: 2em;
}

.no-margin-top {
    margin-top: 0;
}

.paginate {
    line-height: 1.2;
    margin-bottom: 0;
}

.hyperlink {
    color: #06677f; /* S-40 */
}

.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: #ba1a1a; /* E-40 */
}

/* Span in Mapbox pop-ups */
.popup-text {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #181d19; /* N-10 */
}
